.placeholder1 {
    width: 40vw;
    border-radius: 1%;
    opacity: 0.5;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.project-span {
    background-color: rgb(243, 159, 74);
    width: 40vw;
    border-radius: 1%;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
    
  }
  
  .project-span:hover {
    background-color: transparent;
  }

.project-span:hover .placeholder1 {
    opacity: 1;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}