.contact {
    display: inline;
    text-align: center;  
}

.contactme {
    padding-top: 7vh;
    font-size: 4.5vh;
}
.contactform {
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact-about {
    line-height: 1.7;
}
 .get-in-touch {
    margin: 1vw 0;
}

.paddingpurposes {
    margin-top: 2vh;
}

#button {
    margin: 1vw 0;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(113, 249 ,250);;
    border-color: rgb(113, 249 ,250);
    box-sizing: border-box;
    padding: 1vh 3vh; 
    font-size: calc(0.55em + 1vh);
    font-family: 'Roboto Mono', sans-serif;
    
  }
  
  #button:hover {
    background-color: rgba(113, 249 ,250, 0.2);
    box-shadow: none;
  }

  #input {
    font-family: 'Roboto Mono', sans-serif;
  }
