.links {
    cursor: pointer;
    position: fixed;
    width: 100%;
    top: 0;
    transition:  0.5s;
    padding-bottom: 2vw;
    z-index: 9;  
    color: rgb(138, 147, 173) 
}


.menu-links {
    padding-bottom: 1vw;     
}

#boton {
    background-color: rgb(14, 26, 45);     
}

 #boton:focus {
    box-shadow:none !important;
    outline: none !important;
}

#boton:active {
    border-color: rgb(41, 49, 66)
}