* { 
cursor: default;

}

.App{
background: -webkit-radial-gradient(center, rgba(18, 4, 79, 1.0), rgba(13, 5, 60, 1.0));
background: -moz-radial-gradient(center, rgba(18, 4, 79, 1.0), rgba(13, 5, 60, 1.0));
background: radial-gradient(ellipse at center, rgba(18, 4, 79, 1.0), rgba(13, 5, 60, 1.0));
width: 100%;
}

.page {
  padding-top: 17vh;
  padding-left: 20vh;
  padding-right: 20vh;
}

.about-me {
  padding-top: 5vh;
}

.photo {
  text-align: center;
  margin-bottom: 15vw;
}

#caro {
  display: block;
  width: 35vh;
  border-radius: 1%;
  margin-top: 3vw;
  align-content: center;
  opacity: 0.45;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.caro-span {
  background-color: rgb(73, 183, 162);
  width: 35vh;
  border-radius: 1%;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.caro-span:hover {
  background-color: transparent;
}

.caro-span:hover #caro {
  opacity: 1;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

p {
  font-size: 2.2vh;
  color: rgb(159, 177, 232);
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  
  color: rgb(206, 215, 243);
  font-family: 'Montserrat', sans-serif;
  
}