* {
  background: rgb(14, 26, 45);
}
.aboutMe {
  display: flex;
  justify-content: space-between;
}

.photo {
  text-align: center;
}

.caro {
  display: inline-block;
  width: 300px;
  align-content: center;
  border-radius: 1%;
}


p {
  font-size: calc(0.5em + 1vw);
  color: rgb(138, 147, 173)
}

h1 {
  color: rgb(206, 215, 243)
  /* color: rgb(232, 184, 115) accent colors*/
}