* {
  background: rgb(14, 26, 45);
}

.container-of-page {
  position: relative;
}

.photo {
  text-align: center;
  margin-bottom: 15vw;
}

#caro {
  display: block;
  width: 30vh;
  border-radius: 1%;
  margin-top: 3vw;
  align-content: center;
  opacity: 0.5;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.caro-span {
  background-color: rgb(243, 159, 74);
  /* background-color: red; */
  width: 30vh;
  border-radius: 1%;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.caro-span:hover {
  background-color: transparent;
}

.caro-span:hover #caro {
  opacity: 1;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

p {
  font-size: calc(0.5em + 1vw);
  color: rgb(138, 147, 173)
}

h1 {
  color: rgb(206, 215, 243)
  /* color: rgb(232, 184, 115) accent colors*/
}

div.logos {
  position: fixed;
  transform: none;
  transition: none;
}